.content h2.header:after {
  content: attr(data-text);
  background: repeating-linear-gradient(
    -45deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);

  @media (prefers-color-scheme: dark) {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  }

  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}
