.links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
